@model OnlineCoffeeStoreClientSite.Models.Coffee

<h2>Create Coffee</h2>

<form asp-action="Create" method="post">
    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>@Html.LabelFor(m => m.Name)</th>
                <td>
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Name, "This field is required", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th>@Html.LabelFor(m => m.Price)</th>
                <td>
                    @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Price, "This field is required", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th>@Html.LabelFor(m => m.Ingredients)</th>
                <td>
                    @Html.TextBoxFor(m => m.Ingredients, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Ingredients, "This field is required", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th>@Html.LabelFor(m => m.Status)</th>
                <td>
                    @Html.DropDownListFor(m => m.Status, (IEnumerable<SelectListItem>)ViewBag.StatusOptions, "-- Select Status --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Status, "This field is required", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <th>@Html.LabelFor(m => m.CategoryId)</th>
                <td>
                    @Html.DropDownListFor(m => m.CategoryId, (IEnumerable<SelectListItem>)ViewBag.CategoryId, "-- Select Category --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.CategoryId, "This field is required", new { @class = "text-danger" })
                </td>
            </tr>

            <tr>
                <td colspan="2" class="text-end">
                    <button type="submit" class="btn btn-success">Create</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
